html {
    font-family: "Segoe UI", sans-serif;
}

html:has(#colourscheme > option:nth-child(1):checked) {
    color-scheme: light dark;
}

html:has(#colourscheme > option:nth-child(2):checked) {
    color-scheme: light;
}

html:has(#colourscheme > option:nth-child(3):checked) {
    color-scheme: dark;
}

#navbar {
    background-color: #3a3a3a;
    text-align: center;
}

#navbar ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#navbar ul > li {
    flex: 1;
}

#navbar ul > li > a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 8px;
}

#navbar a:visited {
    color: #fff;
}

#navbar a:hover {
    background-color: #111;
}

.centre-align-v {
    margin: auto 0px;
}

.code-large {
    min-height: 200px;
}
.code-small {
    min-height: 50px;
}
.code-area {
    border: solid 1px #80808080;
    overflow-x: auto;
    white-space: pre;
}
.pre {
    overflow-x: auto;
    white-space: pre;
}

.hidden {
    display: none;
}

.grid2 {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 3px;
}

.grid2 > .grid-wide {
    grid-column: 1 / -1;
}

/* Gap+Column+Margin flex */
.gcmflex {
    display: flex;
    gap: 12px;
    flex-direction: column;
    width: fit-content;
    margin: 8px auto;
}

/* Gap flex */
.gflex {
    display: flex;
    gap: 12px;
}

table.pretty-table {
    border-collapse: collapse;
    border: solid #363636;
}

table.pretty-table thead tr {
    border-bottom: solid royalblue;
}

table.pretty-table tr:nth-child(even) {
    background-color: #a0a0a020;
}

/* not strictly required, included for consistency */
table.pretty-table tr:nth-child(odd) {
    background-color: inherit;
}

table.pretty-table td, table.pretty-table th {
    padding: 5px 10px;
    text-align: center;
    vertical-align: middle;
}

table.pretty-table caption {
    padding: 5% 0;
}

/* vertically central-aligned container */
.vcafc { display: flex; flex-direction: column; align-items: center; }

.tcfbox {
    display: flex;
    column-gap: 5%;
    flex-wrap: wrap;
}

div.topbar {
    display: flex;
    justify-content: flex-end;
    column-gap: 5px;
}

div.topbar a {
    color: inherit;
}

div.alert-message:has(> input.alert-close-chk:checked) {
    display: none;
}

div:has(div.alert-message) {
    background-color: red;
}

.XL-font {
    font-size: 48px;
}
