html {
    color-scheme: light dark;
    font-family: "Segoe UI",sans-serif;
}

#navbar {
    background-color: #3a3a3a80;
    text-align: center;
}

#navbar ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#navbar ul > li {
    flex: 1;
}

#navbar ul > li > a {
    color: #ffffff80;
    text-decoration: none;
    display: block;
    padding: 8px;
}

#navbar a:visited {
    color: #ffffff80;
}

#navbar a:hover {
    background-color: #11111180;
}

.centre-align-v {
    margin: auto 0px;
}

.code-large {
    min-height: 200px;
}
.code-small {
    min-height: 50px;
}
.code-area {
    border: solid 1px #80808080;
    overflow-x: auto;
    white-space: pre;
}

.hidden {
    display: none;
}

.grid2 {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 3px;
}

.grid2 > .grid-wide {
    grid-column: 1 / -1;
}

.gflex {
    display: flex;
    gap: 12px;
}

.grid250px {
    /* TODO: test; --var? */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.flex-col {
    flex-direction: column;
    width: fit-content;
}

.margin10px {
    margin: 8px auto;
}


table.pretty-table {
    border-collapse: collapse;
    border: solid #363636;
}

table.pretty-table thead tr {
    border-bottom: solid royalblue;
}

table.pretty-table tr:nth-child(even) {
    background-color: #80808080;
}

/* not strictly required, included for consistency */
table.pretty-table tr:nth-child(odd) {
    background-color: inherit;
}

table.pretty-table td, table.pretty-table th {
    padding: 5px 10px;
    text-align: center;
    vertical-align: middle;
}

table.pretty-table caption {
    padding: 5% 0;
}

/* vertically central-aligned container */
.vcafc { display: flex; flex-direction: column; align-items: center; }

.tcfbox {
    display: flex;
    column-gap: 5%;
    flex-wrap: wrap;
}

div.topbar {
    display: flex;
    justify-content: flex-end;
    column-gap: 5px;
}

div.topbar a {
    color: inherit;
}
