{% set u = session.get('u') %}
{% set colour = session.get('colour', 0) %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Error {{rp}} - PWJ</title>
    <link rel="stylesheet" href="{{url_for('static', filename='index.css')}}">
</head>
<body>
    <div class="topbar">
        <form action="/colour" method="post">
            <label for="colourscheme">Colour scheme: </label>
            <select name="colour" id="colourscheme">
                <option value=0{{' selected' if colour == 0 else ''}}>System</option>
                <option value=1{{' selected' if colour == 1 else ''}}>Light</option>
                <option value=2{{' selected' if colour == 2 else ''}}>Dark</option>
            </select>
            <button type="submit">Remember preferences</button>
        </form>
        {% if u is not none() %}
            <form action="/logout" method="post">
            r   <button type="submit">Sign Out</a>
            </form>
        {% else %}
            <a href="/login">Sign In</a>
            <a href="/sign-up">Sign Up</a>
        {% endif %}
    </div>
    <nav id="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/problems">Problems</a></li>
            <li><a href="/me">My account</a></li>
        </ul>
    </nav>

    <div class="error-info">
        <h1>Error {{rp}}</h1>
        <hr>
        {% if err_info is not none() %}
            <p>{{err_info}}</p>
        {% endif %}
    </div>
</body>
</html>
