<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Home - PWJ</title>
  <link rel="stylesheet" href="{{url_for('static', filename='index.css')}}">
</head>
<body>
    <nav id="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/problems">Problems</a></li>
        </ul>
    </nav>

    <div>
        <h1>PyWebJudge - Python based competitive programming online judge</h1>
        <p>This website is still a work-in-progress.</p>
    </div>
</body>
</html>
