{% set colour = session.get('colour') %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Log In - PWJ</title>
    <link rel="stylesheet" href="{{url_for('static', filename='index.css')}}">
</head>
<body>
    <div class="topbar">
        <form action="/colour" method="post">
        <label for="colourscheme">Colour scheme: </label>
        <select name="colour" id="colourscheme">
            <option value=0{{' selected' if colour == 0 else ''}}>System</option>
            <option value=1{{' selected' if colour == 1 else ''}}>Light</option>
            <option value=2{{' selected' if colour == 2 else ''}}>Dark</option>
        </select>
        <button type="submit">Remember preferences</button>
        </form>
        {% if session.get('u') is not none() %}
            <a href="/logout">Sign Out</a>
        {% else %}
            <a href="/login">Sign In</a>
            <a href="/sign-up">Sign Up</a>
        {% endif %}
    </div>
    <nav id="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/problems">Problems</a></li>
            <li><a href="/me">My account</a></li>
        </ul>
    </nav>

    {% with errors = get_flashed_messages(category_filter=["login"]) %}
    {% if errors %}
    <div class="gcmflex">
        {%- for msg in errors %}
            <div class="alert-message gflex">
                <input id="alert-close-btn-{{ loop.index0 }}" class="hidden alert-close-chk" type="checkbox">
                <label class="XL-font centre-align-v" for="alert-close-btn-{{ loop.index0 }}">&times;</label>
                <p class="centre-align-v">{{ msg }}</p>
            </div>
        {% endfor -%}
    </div>
    {% endif %}
    {% endwith %}

    <form class="gcmflex" name="login" action="/login" method="post">
        <label for="passwd">User name</label>
        <input name="u" type="text" required></input>
        <label for="passwd">Password</label>
        <input name="pw" type="password" required></input>
        <p>Don't have an account? Sign up <a href="/sign-up">here</a>.</p>
        <button type="submit">Log in</button>
    </form>
</body>
</html>
