{% set u = session.get('u') %}
{% set colour = session.get('colour', 0) %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Home - PWJ</title>
    <link rel="stylesheet" href="{{url_for('static', filename='index.css')}}">
</head>
<body>
    <div class="topbar">
        <form action="/colour" method="post">
        <label for="colourscheme">Colour scheme: </label>
        <select name="colour" id="colourscheme">
            <option value=0{{' selected' if colour == 0 else ''}}>System</option>
            <option value=1{{' selected' if colour == 1 else ''}}>Light</option>
            <option value=2{{' selected' if colour == 2 else ''}}>Dark</option>
        </select>
        <button type="submit">Remember preferences</button>
        </form>
        {% if u is not none() %}
            <a href="/logout">Sign Out</a>
        {% else %}
            <a href="/login">Sign In</a>
            <a href="/sign-up">Sign Up</a>
        {% endif %}
    </div>
    <nav id="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/problems">Problems</a></li>
            <li><a href="/me">My account</a></li>
        </ul>
    </nav>

    <div class="vcafc">
        <p>User Name: {{info['name']}}</p>
        <p>User Id: {{session.get('u')}}</p>
        <p>Pass rate: {{passrate}}</p>
        <p>Attempted problems: </p>
        <div>
        {% for p_id in attempted %}
            <a href="/problem/{{p_id}}">P{{p_id}}</a>
        {% endfor %}
        </div>
    </div>
</body>
</html>
