<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Problem P{{problem['id']}} - PWJ</title>
  <link rel="stylesheet" href="{{url_for('static', filename='index.css')}}">
  <script src="{{url_for('static', filename='problem.js')}}"></script>
  <script src="https://cdn.jsdelivr.net/pyodide/v0.29.3/full/pyodide.js"></script>
</head>
<body>
    <nav id="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/problems">Problems</a></li>
            <li><a href="/me">My account</a></li>
        </ul>
    </nav>

    <h2>P{{problem['id']}} - {{problem['title']}}</h2>
    <p>{{problem['desc'] or ''}}</p>

    <noscript><p>This page currently requires JavaScript and WebAssembly execution to function.</p></noscript>

    <button id="run" disabled="true">Pyodide is still loading</button>
    <div class="grid2">
        <code id="user-code" class="grid-wide code-area code-large" contentEditable="plaintext-only" spellcheck="false"></code>
        <code id="eval-stdin" class="code-area code-small" contentEditable="plaintext-only" spellcheck="false"></code>
        <code id="output" class="code-area code-small"></code>
    </div>

    <div>
        <select id="judge-tc">
            <option selected>Disabled</option>
            <option>ALL testcases</option>
            {% for testcase in testcases %}
            <option>Testcase {{testcase['test_no']}}</option>
            {% endfor %}
        </select>
    </div>

    <div>
        {% for testcase in testcases %}
        <div class="testcase">
            <h3>Testcase id {{testcase['test_no']}}</h3>
            <div class="gflex">
                <p>Sample Input</p>
                <button class="centre-align-v cbtn">Copy to input box</button>
            </div>
            <pre><code class="tc-in">{{testcase['in']}}</code></pre>
            <p>Sample Output</p>
            <pre><code class="tc-out">{{testcase['out']}}</code></pre>
        </div>
        {% endfor %}
    </div>
</body>
</html>
