<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Problems - PWJ</title>
  <link rel="stylesheet" href="{{url_for('static', filename='index.css')}}">
</head>
<body>
    <nav id="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/problems">Problems</a></li>
        </ul>
    </nav>

    <table class="centre-align">
        <caption>List of problems</h1>
        <thead>
            <th><p>Problem ID</p></th>
            <th><p>Problem title</p></th>
            <th><p>Pass rate</p></th>
        </thead>
        {% for problem in problems %}
        <tr>
            <td>
                <a href="/problem/{{problem['id']}}">P{{problem['id']}}</a>
            </td>
            <td><p>{{problem['title']}}</p></td>
            <td><p>0.00%</p></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
